{% extends 'rebooru/base.html' %}

{% block title %}Rebooru{% endblock %}

{% block content %}
{% include "rebooru/search.html" %}
<h1>Recent images</h1>
<div class="recent-images card-columns">
  {% for image in images %}
  <div class="card">
    {% if image.file %}
    <a href="{{ image.file.url }}">
      <img src="{{ image.file.url }}" class="card-img-top img-fluid" width="300"> </a>
    {% elif image.direct_url %}
    <a href="{{ image.direct_url }}">
      <img src="{{ image.direct_url }}" class="card-img-top img-fluid" width="300">
    </a>
    {% endif %}
  </div>
  {% endfor %}
</div>
{% endblock %}
