{% extends 'base.html' %}

{% block main %}
    <div class="recent-accounts">
        <h1>Recent accounts</h1>
        <ul class="accounts">
            {% for account in accounts %}
            <li>{{ account.username }} - {{ account.date_joined|timesince }} ago</li>
            {% endfor %}
        </ul>
    </div>

    <div class="recent-images">
        <h1>Recent images</h1>
        <ul class="images">
            {% for image in images %}
                <li>
                    <figure>
                        <a href="{{ image.file.url }}">
                            <img src="{{ image.file.url }}" width="300">
                        </a>
                        <figcaption>Uploaded by {{ image.uploader.username }}<br>{{ image.date_uploaded|timesince }} ago</figcaption>
                    </figure>
                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}
