{% load static %}<!DOCTYPE html>
<html>
<head>

    <title>Rebooru</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">

    <link rel="stylesheet" type="text/css" href="{% static 'css/rebooru.css' %}">

</head>
<body>

    <header>
        <nav>
            <ul class="navigation">
                <li>
                    <a class="homelink" href="/">Rebooru</a>
                </li><li>
                    <a href="javascript:;">Images</a>
                </li>
            </ul>
            <ul class="accounts">
                <li>
                    <a href="javascript:;">Register</a>
                </li><li>
                    <a href="javascript:;">Log in</a>
                </li>
            </ul>
        </nav>
    </header>

    {% block main %}{% endblock %}

</body>
</html>
